# Require review by you on workflow and packaging changes
.github/workflows/**  @jasonsmr
scripts/**            @jasonsmr
tools/**              @jasonsmr
staging/**            @jasonsmr
dist/**               @jasonsmr
