# outputs / payloads
/dist/
/staging/**/prefix/drive_c/users/*/Temp/
/staging/**/prefix/drive_c/ProgramData/Package Cache/
/staging/**/prefix/dosdevices/c:/windows/Temp/
/staging/**/prefix/*.log
*.zip
*.tar
*.tar.zst
*.tar.gz

# editor noise
.*.swp
.idea/
.gradle/
