name: RF Runtime Release (core)

on:
  workflow_call:
    inputs:
      tag:
        description: 'Tag (optional)'
        required: false
        default: ''
        type: string

permissions:
  contents: read
  actions: read

concurrency:
  group: release-core-${{ github.run_id }}
  cancel-in-progress: true

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "CORE TAG={${inputs.tag ||
                                 github.ref_name}}"
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: echo "CORE RELEASE step"
